{% extends 'base.html' %}

{% block title %}Settings - EduConnect{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h3>Settings</h3>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="bi bi-bell"></i> Notification Settings
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="bi bi-shield"></i> Privacy Settings
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="bi bi-display"></i> Display Preferences
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="bi bi-key"></i> Change Password
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}