{% extends 'base.html' %}

{% block title %}Settings - EduConnect{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h3>Settings</h3>
            </div>
            <div class="card-body">
                <div class="mb-4">
                    <h5 class="border-bottom pb-2">Account Settings</h5>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="bi bi-key me-2"></i> Change Password
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="bi bi-bell me-2"></i> Notification Preferences
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="bi bi-shield me-2"></i> Privacy Settings
                        </a>
                    </div>
                </div>

                <div class="mb-4">
                    <h5 class="border-bottom pb-2">Display Settings</h5>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="bi bi-palette me-2"></i> Theme (Light/Dark)
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="bi bi-translate me-2"></i> Language
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <i class="bi bi-fonts me-2"></i> Font Size
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}