name: Django auth_app Tests

on:
  push:
    branches:
      - tests
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install Django
      run: python -m pip install --upgrade pip django==5.2

    - name: Run auth_app tests
      run: python manage.py test auth_app
