name: Django profile_menu Tests

on:
  push:
    branches:
      - tests
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.12  # Match your Django version

    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    - name: Install Django
      run: python -m pip install django==6.0  # Match your local Django version

    - name: Run profile_menu tests
      run: python manage.py test profile_menu
